<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django View Practice</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <center>
        <div id=header>
            <h1>Biopic</h1>
        </div>
        <form action="{% url 'app:upload' %}">
            <button>
                Upload Image
            </button>
        </form>
    </center>
    {% block body %} {% if objects %} {% for obj in objects %}
    <center>
        <div id="post" class="col-lg-4">
            <div>{{ obj.uploaded_by }}
                <form action="{% url 'app:delete' obj.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button id="delete">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            <div>
                <img src="{% static obj.image_url %}" width="300" height="300" />
            </div>
            <div>
                <div>{{ obj.uploaded_at }}</div>
                <div>{{ obj.caption }}</div>
            </div>
            <div>
                <form action="{% url 'app:filter' %}" method="get">
                    <button>
                        filter
                    </button>
                </form>
            </div>
        </div>
    </center>
    {% endfor %}{% endif %} {% endblock body %}
</body>

</html>