{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Biopic Sign up</title>
</head>

<body>
    <center>
        <div id=header>
            <img src="../../static/app/logo/FullSizeRender.png" />
        </div>
        <h2>Sign up</h2>
        <form method="post">
            {% csrf_token %} {% for field in form %}
            <p>
                {{ field.label_tag }}
                <br> {{ field }} {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %} {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}
            <button type="submit">Sign up</button>
        </form>
    </center>
</body>

</html>